[importlinter]
root_package = workflow

[importlinter:contract:1]
name=Workflow Layered Architecture
type=layers
containers=workflow
layers=
    api
    service
    repository
    (util)
    (schema)
    model
    core
ignore_imports=
    workflow.core.init.database.init_database -> workflow.model

[importlinter:contract:2]
name=Workflow Core Layered Architecture
type=layers
containers=workflow.core
layers=
    init
    config : base
    const
    type
