[importlinter]
root_package = workflow

[importlinter:contract:1]
name=Workflow Layered Architecture
type=layers
containers=workflow
layers=
    api
    service
    repository
    (util)
    (schema)
    model
    core

[importlinter:contract:2]
name=Workflow Core Layered Architecture
type=layers
containers=workflow.core
layers=
    database : config : base
    const
    type
